$color : (primary : #E2001A,
        secondary : #354253,
        third : white,
        fourth : black,
        fourth_fade: rgba(0, 0, 0, 0.6),
        fifth: #CCD2DB,
        );
$color-urgency: #E2001A;
$color-dark-blue: #354253;
$color-very-light-grey: rgba(53, 66, 83, 0.05);
$color-light-grey: rgba(53, 66, 83, 0.1);
$color-grey: rgba(53, 66, 83, 0.5);