.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#preloadbg {
  img {
    opacity: 0;
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 0px;
    width: 0px;
  }
}

#gender {
  &::placeholder {
    color: map_get($color, fourth_fade);
  }
  &::-ms-input-placeholder {
    color: map_get($color, fourth_fade);
  }
  &::-ms-input-placeholder {
    color: map_get($color, fourth_fade);
  }
}

body {
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

.logo {
  height: 59px;
  width: 172px;
  &__title {
    font-weight: bold;
    font-size: 9px;
  }
}

.header {
  height: 100px !important;
  min-height: 100px !important;
  background-color: map_get($color, third);
}

.aside {
  img {
    display: block;
    @media (max-width: 576px) {
      display: none;
    }
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 33vw;
    z-index: 1;
  }
  &__link {
    font-family: Roboto;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    .link1 {
      z-index: 2000;
      position: fixed;
      bottom: 0;
      right: 16vw;
    }
    .link2 {
      z-index: 2000;
      position: fixed;
      bottom: 0;
      right: 5vw;
    }
    a {
      color: map_get($color, third);
      cursor: pointer;
    }
  }
}

.home-page {
  color: map_get($color, fourth);
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 51px;
    color: map_get($color, primary);
    line-height: 38px;
  }
  &__desc {
    font-size: 27px;
    font-weight: bold;
    line-height: 20px;
  }
}

.page {
  font-size: 20px;
  font-family: Roboto;
  text-align: center;
  &__number {
    color: map_get($color, third);
    background-color: map_get($color, primary);
    border-radius: 50px;
    text-align: center;
    font-size: 29px;
    width: 45px;
  }
}

.form__page2 {
  font-family: "Open Sans";
  border: none;
  border-bottom: 1px solid map_get($color, fifth);
  border-radius: 0px;
  color: map_get($color, fourth);
  font-size: 20px;
  width: 100%;
  -webkit-appearance:none;
}

.phone {
  border: none;
  &__opt {
    font-size: 6px;
    line-height: 8px;
    text-transform: uppercase;
  }
}

.end-page {
  font-family: Roboto;
  &__title {
    font-size: 51px;
    color: map_get($color, primary);
    line-height: 45px;
    font-weight: bold;
    font-family: "Roboto Condensed";
  }
}

#perso {
  display: none;
  ::placeholder {
    color: map_get($color, fourth);
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: map_get($color, fourth);
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: map_get($color, fourth);
  }
}

#q1 {
  display: none;
}

#q2 {
  display: none;
}

#q3 {
  display: none;
}

#q4 {
  display: none;
  textarea {
    text-align: center;
    width: 100%;
    margin: 10px;
    border: 1px solid map_get($color, fifth);
    color: map_get($color, fourth);
    background-color: map_get($color, third);
    line-height: 25px;
    @include button;
    &::placeholder {
      text-align: center;
      color: map_get($color, fourth_fade);
    }
    resize: none;
  }
}

#q5 {
  display: none;
}

#q6 {
  display: none;
  textarea {
    padding: 20px;
    border:  2px solid map_get($color, fifth);
    border-radius: 38px;
    height: 193px;
    width: 380px;
    font-family: Roboto;
    resize: none;
    font-size: 20px;
    &::placeholder {
      color: map_get($color, fourth_fade);
    }
    &::-ms-input-placeholder {
      color: map_get($color, fourth_fade);
    }
    &::-ms-input-placeholder {
      color: map_get($color, fourth_fade);
    }
  }
}

#q7 {
  display: none;
}

#q8 {
  display: none;
}

#q9 {
  display: none;
}

#button__up {
  border: none;
  display: none;
  background: none;
}

#button__down {
  border: none;
  display: none;
  background: none;
}

.button__rep2 {
  z-index: -1;
}

.min-height {
  height: 550px;
  min-height: 550px;
}

footer {
}

#button__rep1 {
  width: 280px;
}

#arrow_bottom {
  width: 66vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 576px) {
  .aside {
    img {
      display: none;
    }
    &__link {
      font-family: Roboto;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      .link1 {
        z-index: 2000;
        position: static;
        bottom: 0;
        left: 0vw;
        right: auto;
      }
      .link2 {
        z-index: 2000;
        position: static;
        bottom: 0;
        right: 0vw;
      }
      a {
        cursor: pointer;
        color: map_get($color, fourth);
      }
      a:hover {
        color: blue;
      }
    }
  }
  #q6 textarea {
    width: 100%;
  }
  #cguModal, #persoDataModal {
    .modal-body {
      .my-container {
        padding: 0px 0px;
      }
    }
  }
  #preloadbg {
    display: none;
  }
  }