.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#preloadbg {
  img {
    opacity: 0;
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 0px;
    width: 0px;
  }
}

#gender {
  &::placeholder {
    color: map_get($color, fourth_fade);
  }
  &::-ms-input-placeholder {
    color: map_get($color, fourth_fade);
  }
  &::-ms-input-placeholder {
    color: map_get($color, fourth_fade);
  }
}

body {
  font-family: 'Roboto Condensed';
  font-weight: 300;
}

.logo {
  height: 59px;
  width: 172px;
  &__title {
    font-weight: bold;
    font-size: 9px;
  }
}

.header {
  height: auto !important;
  min-height: auto !important;
  background-color: map_get($color, third);
  padding-bottom: 40px;
}

.aside {
  img {
    display: block;
    @media (max-width: 576px) {
      display: none;
    }
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 33vw;
    z-index: 1;
  }
  &__link {
    font-family: Roboto;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    z-index: 2000;
    left: 67vw;
    bottom: 0;
    width: 33vw;
    display: flex;
    justify-content: space-around;
    a {
      cursor: pointer;
      color: map_get($color, third);
    }
  }
}

.home-page {
  color: map_get($color, fourth);
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 51px;
    color: map_get($color, primary);
    line-height: 49px;
    margin: 0px;
  }
  &__desc {
    font-size: 27px;
    font-weight: bold;
    line-height: 25px;
  }
}

.page {
  font-size: 20px;
  font-family: Roboto;
  text-align: center;
  &__number {
    color: map_get($color, third);
    background-color: map_get($color, primary);
    border-radius: 50px;
    text-align: center;
    font-size: 29px;
    width: 45px;
  }
}

.form__page2 {
  font-family: "Open Sans";
  border: none;
  border-bottom: 1px solid map_get($color, fifth);
  border-radius: 0px;
  color: map_get($color, fourth);
  font-size: 20px;
  width: 100%;
  -webkit-appearance:none;
}

.phone {
  border: none;
  &__opt {
    font-size: 6px;
    line-height: 8px;
    text-transform: uppercase;
  }
}

.end-page {
  font-family: Roboto;
  &__title {
    font-size: 51px;
    color: map_get($color, primary);
    line-height: 45px;
    font-weight: bold;
    font-family: "Roboto Condensed";
  }
}

#perso {
  display: none;
  ::placeholder {
    color: map_get($color, fourth);
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: map_get($color, fourth);
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: map_get($color, fourth);
  }
  @media (max-width: 576px) {
    .min-height {
      height: 550px;
      min-height: 550px;
    }
  }
}

#q1 {
  display: none;
}

#q2 {
  display: none;
  @media (max-width: 576px) {
    .min-height {
      height: 650px;
      min-height: 650px;
    }
  }
}

#q3 {
  display: none;
  @media (max-width: 576px) {
    .min-height {
      height: 1000px;
      min-height: 1000px;
    }
  }
}

#q4 {
  display: none;
  textarea {
    text-align: center;
    width: 100%;
    margin: 10px;
    border: 1px solid map_get($color, fifth);
    color: map_get($color, fourth);
    background-color: map_get($color, third);
    line-height: 25px;
    @include button;
    &::placeholder {
      text-align: center;
      color: map_get($color, fourth_fade);
    }
    resize: none;
  }
  @media (max-width: 576px) {
    .min-height {
      height: 800px;
      min-height: 800px;
    }
  }
}

#q5 {
  display: none;
}

#q6 {
  display: none;
  textarea {
    padding: 20px;
    border:  2px solid map_get($color, fifth);
    border-radius: 38px;
    height: 193px;
    width: 380px;
    font-family: Roboto;
    resize: none;
    font-size: 20px;
    &::placeholder {
      color: map_get($color, fourth_fade);
    }
    &::-ms-input-placeholder {
      color: map_get($color, fourth_fade);
    }
    &::-ms-input-placeholder {
      color: map_get($color, fourth_fade);
    }
  }
}

#q7 {
  display: none;
}

#q8 {
  display: none;
  @media (max-width: 576px) {
    .min-height {
      height: 700px;
      min-height: 700px;
    }
  }
}

#q9 {
  display: none;
  @media (max-width: 576px) {
    .min-height {
      height: 700px;
      min-height: 700px;
    }
  }
}

#button__up {
  border: none;
  display: none;
  background: none;
  p {
    display: none;
    font-size: 30px;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    border: 1px solid map_get($color, fifth);
    border-radius: 38px;
    padding-left: 40px;
    padding-right: 40px;
    color: map_get($color, primary);
  }
  img {
    display: block;
  }
}

#button__down {
  border: none;
  display: none;
  background: none;
  p {
    display: none;
    font-size: 30px;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    border: 1px solid map_get($color, fifth);
    border-radius: 38px;
    padding-left: 60px;
    padding-right: 60px;
    color: map_get($color, primary);
  }
  img {
    display: block;
  }
}

.button__rep2 {
  z-index: -1;
}

.min-height {
  height: 520px;
  min-height: 520px;
}

footer {
}

#button__rep1 {
  width: 280px;
}

#arrow_bottom {
  width: 66vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 576px) {
  .aside {
    img {
      display: none;
    }
    &__link {
      padding-bottom: 8px;
      font-family: Roboto;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      position: static;
      z-index: 2000;
      bottom: 0;
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .link1 {
        width: 100vw;
      }
      .link2 {
        width: 100vw;
      }
      a {
        cursor: pointer;
        color: map_get($color, fourth);
      }
      a:hover {
      }
    }
  }
  #q6 textarea {
    width: 100%;
  }
  #cguModal, #persoDataModal {
    .modal-body {
      .my-container {
        padding: 0px 0px;
      }
    }
  }
  #preloadbg {
    display: none;
  }
  #button__up {
    p {
      display: block;
      &:hover {
        background-color: map_get($color, primary);
        color: map_get($color, third);
        border: 1px solid map_get($color, primary);
      }
    }
    img {
      display: none;
    }
  }
  #button__down {
    p {
      display: block;
      &:hover {
        background-color: map_get($color, primary);
        color: map_get($color, third);
        border: 1px solid map_get($color, primary);
      }
    }
    img {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .space {
    height: 96px;
  }
  .header {
    height: auto !important;
    min-height: auto !important;
    background-color: map_get($color, third);
  }
  .page-container {
    min-height: 65vh;
    padding-bottom: 20px;
  }
}

.min-height {
  height: auto !important;
  min-height: auto !important;
}

.page-container {
  min-height: 65vh;
}

.control-input {
  opacity: 0;
  font-family: "Roboto Condensed";
  font-size: 15px;
  color: map_get($color, primary);
}