.wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  &::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1; // hide images
    content: url("../img/aside_home.png") url("../img/aside_p1.png") url("../img/aside_p2.png")
    url("../img/aside_p3.png") url("../img/aside_p4.png") url("../img/aside_p5.png")
    url("../img/aside_p6.png") url("../img/aside_p7.png") url("../img/aside_p8.png")
    url("../img/aside_p9.png");
  }
}

.logo {
  height: 59px;
  width: 172px;
  &__title {
    font-weight: bold;
    font-size: 9px;
  }
}

.header {
  height: 15%;
}

.aside {
  &__page1 {
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("../../asset/img/aside_home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__link {
    font-family: Roboto;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    a {
      color: map_get($color, third);
    }
  }
}

.home-page {
  color: map_get($color, fourth);
  text-align: center;
  height: 90%;
  h1 {
    font-weight: bold;
    font-size: 51px;
    color: map_get($color, primary);
    line-height: 38px;
  }
  &__desc {
    font-size: 27px;
    font-weight: bold;
    line-height: 20px;
  }
}

.page {
  font-size: 20px;
  font-family: Roboto;
  text-align: center;
  height: 90%;
  &__number {
    color: map_get($color, third);
    background-color: map_get($color, primary);
    border-radius: 50px;
    text-align: center;
    font-size: 29px;
    width: 45px;
  }
}

.form__page2 {
  border: none;
  border-bottom: 1px solid map_get($color, fifth);
  border-radius: 0px;
  color: map_get($color, fourth);
  font-size: 20px;
  width: 100%;
}

.phone {
  border: none;
  &__opt {
    font-size: 6px;
    line-height: 8px;
    text-transform: uppercase;
  }
}

::placeholder {
  color: map_get($color, fourth);;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: map_get($color, fourth);;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: map_get($color, fourth);;
}

.end-page {
  font-family: Roboto;
  &__title {
    font-size: 51px;
    color: map_get($color, primary);
    line-height: 38px;
    font-weight: bold;
    font-family: "Roboto Condensed";
  }
}

#home {
  display: block;
}
#perso {
  display: none;
}

#q1 {
  display: none;
}

#q2 {
  display: none;
}

#q3 {
  display: none;
}

#q4 {
  display: none;
  input {
    text-align: center;
    width: 100%;
    margin: 10px;
    border: 1px solid map_get($color, fifth);
    color: map_get($color, fourth);
    background-color: map_get($color, third);
    line-height: 25px;
    @include button;
    &::placeholder {
      text-align: center;
      color: map_get($color, fourth_fade);
    }
  }
}

#q5 {
  display: none;
}

#q6 {
  display: none;
  textarea {
    border: none;
    height: 193px;
    width: 380px;
    outline: 2px solid map_get($color, fifth);
    -moz-outline-radius: 38px;
    outline-offset: 15px;
    font-family: Roboto;
    font-size: 20px;
    &::placeholder {
      color: map_get($color, fourth_fade);
    }
  }
}

#q7 {
  display: none;
}

#q8 {
  display: none;
}

#end {
  display: none;
}

#button__up {
  border: none;
  display: none;
  background: none;
}

#button__down {
  border: none;
  display: none;
  background: none;
}

.button__rep2 {
  z-index: -1;
}